body{
    display: flex;
    background-color: #f9fafb;
}

main{
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.sider{
    background-image: url('bgimg.jpg');
    flex-shrink: 3;
}

span{
    font-style: italic;
}
.main{
    display: flex;
    flex-direction: column;
}

.submit{
    margin-top: auto;
}

.odinlogo{
    background-color: rgba(28, 28, 28, 50%);
    padding:8px;
    color:white;
    display: flex;
    justify-content: center;
}
img{
    height: 80px;
}
.odinlogo>p{
    align-self: center;
}