body{
    display: flex;
    background-color: #f9fafb;
}

main{
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.sider{
    /*background-image: url('bgimg.jpg');*/
    flex-shrink: 3;
    position: relative;
    width: 100%;
    z-index: -1;
}
.sider-image{
    position: absolute;
    width: 100%;
}

span{
    font-style: italic;
}
.main{
    display: flex;
    flex-direction: column;
}

.submit{
    margin-top: auto;
}

.odinlogo-body{
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 1.2em;
    font-family: ROBOT;
}

footer>p{
    position: relative;
    width: 100%;
    color: white;
    top: 0rem;
    background-color: black;
    text-align: center;
    
}

.odinlogo-body-face{
    height: 80px;
}
.odinlogo>p{
    align-self: center;
}