body{
    display: flex;
    background-color: #f9fafb;
}

main{
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.sider{
    background-image: url('bgimg.jpg');
}

span{
    font-style: italic;
}
.main{
    display: flex;
    flex-direction: column;
}

.submit{
    margin-top: auto;
}